<div style="background-color: #eff1f8">

<div id="header-container">
	<header class="wrapper clearfix">
		<h1 id="title">Title....</h1>
	</header>
</div>

<div style="background-color: white">

<!-- ko template:{name:'template/grid-full',data:template,afterRender:$root.afterRender}--><!-- /ko --> 

</div>

<div id="footer-container">
	<footer class="wrapper">
        <div class="row-fluid">
			<div class="copyright">
                <ul class="inline">
                	<li>Copyright<br></li>
                </ul>
            </div>
		</div>
	</footer>
</div>

</div>