<div class="section"> 
	<div class="title_wrapper">
		<h2>TITLE</h2> <!--Module Title-->
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>

	<div class="section_content">
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
						<div class="sct_right">
							    <!--Start Content-->
                                    <div style="padding: 5px">
                                        <p>This is the title of the module...</p>
                                     </div>
                                <!--End Content-->
						</div>
					</div>
				</div>
			</div>
		</div>         
    </div>
<!--End Module -->
</div>
