<div class="photo_gallery">
		<div class="gal_top">
			<div class="gal_bottom">
				<div class="gal_left">
					<div class="gal_right">
						<ul>
							<li><a href="#"><img width="96" height="71" src="/media/images/gallery_thumb.jpg" alt="" /></a></li>
							<li><a href="#"><img width="96" height="71" src="/media/images/gallery_thumb.jpg" alt="" /></a></li>
							<li><a href="#"><img width="96" height="71" src="/media/images/gallery_thumb.jpg" alt="" /></a></li>
							<li><a href="#"><img width="96" height="71" src="/media/images/gallery_thumb.jpg" alt="" /></a></li>
							<li><a href="#"><img width="96" height="71" src="/media/images/gallery_thumb.jpg" alt="" /></a></li>
							<li><a href="#"><img width="96" height="71" src="/media/images/gallery_thumb.jpg" alt="" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
<div class="section_content_footer">
<ul>
	<li><a href="#" class="plus">Add new photo</a></li>
	<li><a href="#" class="list">View all photos</a></li>
</ul>
<span class="scf"></span>
</div>
