
#s5_navv a {
font-weight:normal;
float: left;
color:#ffffff;
padding-top:13px;
display: block;
font-size: 1.2em;
cursor: pointer;
height:30px;
line-height: 17px;
text-transform:uppercase;
text-shadow:1px 1px #333333;
text-decoration:none;
overflow: hidden;
background:none;
 -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none; }

#s5_navv .s5_rs a {
padding-left: 16px;
    padding-right: 16px;
}

	#s5_navv ul li ul li .s5_rs a {
		padding-left: 10px;}

#s5_navv ul li ul li a {
   background: none repeat scroll 0 0 transparent;
    border-right: medium none;
    font-size: 1em;
    height: 24px;
    line-height: 16px;
    margin-left: 9px;
}

#s5_navv li li a{
background: none;
font-weight: normal;
padding: 0;
padding-top:5px;
padding-left:14px;
}

#s5_navv, #s5_navv ul {
list-style: none;
margin: 0;
padding: 0;
}

#s5_navv {
float:right;
padding-top: 18px;
}

#s5_navv ul ul a {
display: block;
text-decoration: none;
width: 174px;
text-transform: none;	
}

#s5_navv li {
	float: left;
    height: 59px;
    margin-left: 1px;
    padding: 0 0 0 0px;
}

#s5_navv ul li {
position: relative;
}

#s5_navv li ul {
z-index: 3;
top: 58px;
position: absolute;
left: -999em;
height: auto;
width: 230px;
font-weight: normal;
border-width: 0;
margin: 0;
padding: 0;
}

#s5_navv ul li ul {
padding: 0;
margin: 0;
height:auto;
border-left:1px solid #3e3e3e;
border-right:1px solid #3e3e3e;
border-bottom:1px solid #3e3e3e;
background:#302f2f;
-moz-border-radius-topleft:11px;
-moz-border-radius-topright: 11px;
-moz-border-radius-bottomright: 11px;
-moz-border-radius-bottomleft: 11px;
border-top-left-radius: 11px;
border-top-right-radius: 11px;
border-bottom-right-radius: 11px;
border-bottom-left-radius: 11px;
-webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5); 
}

#s5_navv ul li ul li ul {
-moz-border-radius-topleft:11px;
-moz-border-radius-topright: 11px;
-moz-border-radius-bottomright: 11px;
-moz-border-radius-bottomleft: 11px;
border-top-left-radius: 11px;
border-top-right-radius: 11px;
border-bottom-right-radius: 11px;
border-bottom-left-radius: 11px;}


#s5_navv li li {
float: left;
padding: 0;
width: 218px;
}

#s5_navv li ul ul {
margin: -71px 0 0 217px;
}

#s5_navv li:hover ul ul, 
#s5_navv li:hover ul ul ul,
#s5_navv li:hover ul ul ul ul {
position:absolute;
left: -999em;
z-index:2;
}

#s5_navv li:hover ul, 
#s5_navv li li:hover ul, 
#s5_navv li li li:hover ul, 
#s5_navv li li li li:hover ul {
position:absolute;
z-index: 2;
left: 0;
}

#s5_navv li:hover {
position:relative;
z-index: 2;
left: 0;  
}

#s5_navv ul ul {	
border-width:1px 1px 1px 1px; 
padding-bottom:0px;
padding-top:0px;
}

#s5_navv ul ul ul {	
padding-top:0px;
padding-bottom:0px;
}


#s5_navv li:hover ul {
left: 0;
background-position: 0 0;
}

#s5_navv ul li.active span.s5_outer_active, #s5_navv ul li:hover span.s5_outer_active { 
-webkit-box-shadow: 1px 1px 1px #000000;
-moz-box-shadow: 1px 1px 1px #000000;
box-shadow: 1px 1px 1px #000000; 
-moz-border-radius: 4px;
border-radius: 4px;
height: 44px;
display:block;
background:#ffffff url(../images/iemenuback.png) repeat-x; /* Old browsers */
background: -moz-linear-gradient(top, #FFFFFF 22%, #D3D3D3 60%, #A6A6A6 91%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#FFFFFF), color-stop(60%,#D3D3D3), color-stop(91%,#A6A6A6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* IE10+ */
background: linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* W3C */
}

#s5_navv ul li.active a { 
color:#3e3e3e;
text-shadow:1px 1px #ffffff;
}




#s5_navv ul li ul li:hover span { 
-webkit-box-shadow: 1px 1px 1px #000000;
-moz-box-shadow: 1px 1px 1px #000000;
box-shadow: 1px 1px 1px #000000; 
-moz-border-radius: 4px;
border-radius: 4px;
height: 30px;
margin-left: 8px;
display:block;
background:#ffffff url(../images/iemenuback.png) repeat-x; /* Old browsers */
background: -moz-linear-gradient(top, #FFFFFF 22%, #D3D3D3 60%, #A6A6A6 91%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#FFFFFF), color-stop(60%,#D3D3D3), color-stop(91%,#A6A6A6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* IE10+ */
background: linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* W3C */
}

#s5_navv ul li ul li:hover ul li span {
background:#302f2f;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;}


 #s5_navv ul li ul li ul li:hover ul li span {
background:#302f2f;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;}




#s5_navv ul li ul li span { 
margin-left: 8px;}

#s5_navv ul li:hover li span {
background:#2f2f2f;
-webkit-box-shadow:none;
-moz-box-shadow: none;
box-shadow: none; 
}

#s5_navv ul li ul li:hover span, #s5_navv ul li ul li ul li:hover span, #s5_navv ul li ul li ul li ul li:hover span {
color:#3e3e3e;
text-shadow:1px 1px #ffffff;
-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
-moz-border-radius: 4px;
border-radius: 4px;
background:#ffffff url(../images/iemenuback.png) repeat-x; /* Old browsers */
background: -moz-linear-gradient(top, #FFFFFF 22%, #D3D3D3 60%, #A6A6A6 91%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#FFFFFF), color-stop(60%,#D3D3D3), color-stop(91%,#A6A6A6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* IE10+ */
background: linear-gradient(top, #FFFFFF 22%,#D3D3D3 60%,#A6A6A6 91%); /* W3C */
}





#s5_navv ul li ul li:hover li a, #s5_navv ul li.active ul li:hover a  {
color:#333333; 
text-shadow:1px 1px #ffffff;}

#s5_navv ul li.active:hover ul li a, #s5_navv ul li:hover ul li a, #s5_navv ul li ul li ul li ul li ul li:hover span a  {
color:#ffffff;
text-shadow:1px 1px #333333;}


#s5_navv ul li.active ul li ul li:hover a {
color:#333333; 
text-shadow:1px 1px #ffffff;}


#s5_navv ul li.s5_level_one_parent:hover a.active, #s5_navv ul li:hover a.active { 
color:#3e3e3e;
text-shadow:1px 1px #ffffff;
}

#s5_navv ul li ul li:hover a { 
	margin-left:0px;
	color:#3e3e3e;
	text-shadow:1px 1px #ffffff;
	padding-left: 3px;}


#s5_navv ul li.active ul li {
padding-left:0px;
}

#s5_navv ul li.active ul li a {
background:none;
}

#s5_navv ul li ul li a.parent {
background:url(../images/Shape5_Appwonder_menuarrow.png)no-repeat scroll 186px 7px transparent;
margin-left: 5px;
width: 192px;
}

#s5_navv ul li ul li:hover a.parent {
background:url(../images/Shape5_Appwonder_menuarrow.png) no-repeat scroll 175px -22px transparent;
margin-left: 0px;
width: 192px;
color:#3e3e3e;
text-shadow:1px 1px #ffffff;
}

#s5_navv ul li ul li:hover ul li a.parent {
background:url(../images/Shape5_Appwonder_menuarrow.png)no-repeat scroll 175px 7px transparent;
color:#ffffff;
text-shadow:1px 1px #333333;}


#s5_navv ul li ul li ul li:hover  a.parent {
background:url(../images/Shape5_Appwonder_menuarrow.png)no-repeat scroll 175px -22px transparent;
color:#3e3e3e;
text-shadow:1px 1px #ffffff;}


#s5_navv ul li ul li:hover ul li a, #s5_navv ul li ul li ul li:hover ul li a {
color:#ffffff;
text-shadow:1px 1px #333333;}

#s5_navv ul li ul li ul li:hover a, #s5_navv ul li ul li ul li ul li:hover a {
color:#333333; 
text-shadow:1px 1px #ffffff;}


#s5_navv ul li ul li.s5_top_menu_spacer {
height:10px;
}

#s5_navv ul li ul li ul li.s5_top_menu_spacer {
height:10px;
}

#s5_navv ul li ul li.s5_bottom_menu_spacer {
height:10px;
}

#s5_navv ul li ul li, #s5_navv ul li ul li.active {
/* background:url(../images/s5_menu_sub_li.png) no-repeat top left;*/
height: 30px;
}

#s5_navv ul li ul li:hover, #s5_navv ul li ul li.active:hover {
/*background:url(../images/s5_menu_sub_li.png) no-repeat bottom left; */
height: 30px;
}

#s5_navv ul li ul li.s5_top_menu_spacer:hover {
height:10px;
}

#s5_navv ul li ul li ul li.s5_top_menu_spacer:hover {
height:10px;
}

#s5_navv ul li ul li.s5_bottom_menu_spacer:hover {
height:10px;
}
