sf-sub-indicator
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
 
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
    margin-left: 0px !important;

}
.sf-menu ul {	
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */

}
.sf-menu > ul {	
	ox-shadow: 2px 2px 6px rgba(0,0,0,.2);
}


.sf-menu a {
	padding: .75em 1em;
	text-decoration:none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: white;
}
.sf-menu li {
    background:rgb(59, 59, 59);
    border-radius: 4px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2), 0px 1px 0px #3c3c3c;
    margin-right: 8px;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}

.sf-menu ul li {
	background: rgb(69, 69, 69);
    box-shadow: none;
    border-radius: 0px;
}
.sf-menu ul ul li {
	background: rgb(79, 79, 79);
    border-radius: 0px;
}

    

.sf-menu li:hover,
.sf-menu li.sfHover {
	background: rgb(49, 49, 49);
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;    	
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: .9em;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../images/arrows-ffffff.png) no-repeat 0 -100px;
}

li:hover > a .sf-sub-indicator,
li.sfHover > a .sf-sub-indicator {
	background-position: -10px -100px;
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	background-position: 0 0;
}
.sf-menu ul li:hover > a .sf-sub-indicator,
.sf-menu ul li.sfHover > a .sf-sub-indicator {
	background-position: -10px 0;
}
.sf-menu > li.current {
    background:rgb(49, 49, 49);
	white-space: nowrap; /* no need for Supersubs plugin */
}
            

.sf-with-ul + ul li a {
    border-radius: 4px ;            
    padding:  .75em 1em; 
}

.sf-with-ul + ul li a:hover{
    box-shadow: inset 0px 1px 2px rgba(200,200,200,0.2), 1px 1px 0px #3c3c3c;
    background:rgb(49, 49, 49);
    text-decoration: underline;
}