<div id="page-surround" class="container-fluid">  
    <!-- ko foreach:{data:sections,as:'section'} -->
        <!-- ko if:hasModules()-->
        <div class="container-fluid" style='padding-left:0px;padding-right: 0px'>
        <div class="row-fluid row-section" data-bind="attr:{id:sectionID}">
            <!-- ko foreach:{data:positions,as:'position'} -->
                <!-- ko if:hasModules()-->
                <div data-bind="attr:{ 'class':$parent.getClass($index()) }">
                     <!-- ko foreach:{data:modules,as:'module'} -->
                             <div class="module-surround">
                                  <!-- ko if:showTitle() -->
		                          <div class="module-title">
	                                 <h4 class="title" data-bind="text:title"></h4>
	                               </div>
                                 <!-- /ko --> 
	                              <div class="module-content" data-bind="if:ready(),attr:{id:moduleID}">	
                                       <!-- ko template:{name:template(),data:data,afterRender:afterRender} --><!-- /ko -->
			                       </div>
	                         </div>
                      <!-- /ko -->
                </div>
                 <!-- /ko --><!--Has Modules for position-->
            <!-- /ko --><!--Positions-->
        </div>
        </div>
        <div class="clearfix" style="display: table;clear: both"></div><!--New Section-->
         <!-- /ko --><!--Has Modules?-->
    <!-- /ko --><!--sections-->
</div>
