<div class="row-fluid" style="background-color:white;margin-bottom: 10px;border-radius: 4px;">
    
    
        <div class="well" style="margin-top:40px;margin-right: 40px;" >
            <p class="lead" >
                Opps!! The requested page cannot be found!. </br>
                Click <a href="#" data-bind="click:function() { router.go('home/') }" >here</a> to return to the home page
            </p>
    
            <p>Of the problem persists, please contact support at  or call </p>
        </div>
 
 </div>